@use 'sass:math';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  //overflow: hidden;
  background-color: #000;
}

$aspect-ratio: math.div(420, 240);
canvas {
  display: block;
  margin-inline: auto;
  aspect-ratio: $aspect-ratio;
  image-rendering: pixelated;
  width: min(95vh * $aspect-ratio, 100vw);
  height: min(100vw / $aspect-ratio, 95vh);

  max-width: 100vw;
  max-height: 95vh;
}

$border-color: #111;
$border-radius: 0.5rem;
$border-shorty: 0.5rem solid $border-color;

.manual {
  max-width: 40rem;
  margin: 4rem auto;
  padding: 0 2rem;
  font-family: system-ui, sans-serif;
  color: #ddd;
}

.manual-block {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background: #222;
  border-radius: $border-radius;
}

.manual-block h2 {
  margin: 0 0 1rem;
  font-weight: 600;
}

.manual-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.manual-text {
  flex: 1;
  line-height: 1.5;
}

.manual-image {
  flex: 0 0 10rem;
  height: auto;
  overflow: hidden;
  justify-content: center;
  display: flex;

  &:not(.manual-image-crop):not(.manual-sideways) {
    border-radius: $border-radius;
    border: $border-shorty;
  }
}

.manual-image-crop {
  height: 10rem;
  border-radius: $border-radius * 2;
  border: $border-shorty;

  img {
    object-fit: cover;
  }
}

.manual-image img {
  width: 100%;
  height: auto;
  background: #000;
}

.manual-sideways {
  img {
    height: 10rem;
    width: auto;

    border-radius: 1rem;
    border: $border-shorty;
  }

  rotate: 90deg;
  //  transform: rotate(90deg);
}
