@use 'sass:math';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

$aspect-ratio: math.div(420, 240);
canvas {
  display: block;
  margin-inline: auto;
  aspect-ratio: $aspect-ratio;
  image-rendering: pixelated;
  width: min(95vh * $aspect-ratio, 100vw);
  height: min(100vw / $aspect-ratio, 95vh);

  max-width: 100vw;
  max-height: 95vh;
}
